.form-group label{
    color: gray;
}

.form-group input{
    font-weight: 500;
}

.form-group input::placeholder{
    color:#c0bdbd;
}

thead th{
    font-weight: 400;
}

table tbody tr:hover{
    background-color: #fffbf2;
    cursor: pointer;
}

input.invalid{
    border-color: red;
}